* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
  }

  :root {
    /* Typography */
    --font-family: Inter, sans-serif;
    --font-regular: 400;
    --font-semibold: 600;
    --font-size-lg: 2.25rem;
    --font-size-md: 1.5rem;
    --font-size-sm: 1rem;
    --txt-clr: #030616;
    --line-height-base: 1.6;
    --anchor-clr: #4E80EE;

    /* Background */
    --primary-bg: #D2D5DA;
    --header-bg: #FFFFFF;
    --faq-content-bg: #F8FAFC;
  }

  body {
    height: 100vh;
    line-height: var(--line-height-base);
    font-family: var(--font-family);
    color: var(--txt-clr);
    background-color: var(--primary-bg);
  }

  main {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .faq-header, .faq-content {
    display: flex;
    flex-direction: column;
    padding: 4rem 2.25rem;
    gap: 1rem;
  }

  .faq-header {
    text-align: center;
    background-color: var(--header-bg);
  }

  .faq-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-semibold);
    line-height: 1.2;
  }

  .faq-text {
    font-size: var(--font-size-sm);
    font-weight: var(--font-regular);
    line-height: 1.2;
  }

  .faq-content {
    background-color: var(--faq-content-bg);
  }

  .faq-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .faq-list{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem ;
    gap: 1rem;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }